html, body {
  background-color: white;
  text-align: center;
}

#navbar {
  width: 30%;
  margin: 0 auto;
}

.table {
    width: 100%;
}

.table, th, td {
  border: 1px solid black;
}

label{
    font-weight: bold;
}