*{
    padding: 0;
    margin: 0;
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
}

section:nth-of-type(1) {
    background-color: #2c2e31;
	height: 550px;
}

section:nth-of-type(1) > *{
	background-color: inherit;
}

h1{
    text-align: center;
    font-size: 48px;
    text-align: center;
    color: white;
    font-weight: 100;
	padding-top: 10px;
	margin-bottom: 10px;
}

#divParametri{
    width: 500px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
    padding: 10px;
    margin: 0 auto;
    color: white;
}

#divNumeroProfili{
    display: grid;
    grid-template-columns: auto 300px;
    grid-column-gap: 20px;
    width: fit-content;
    margin: 0 auto;
}

#divNumeroProfili div input,span{
    display: inline-block;
}

#numeroPersone{
    width: 240px;
}

#divNumeroProfili div span{
    text-align: center;
    width: 40px;
    margin-left: 10px;
}

table *{
    color: white;
}

table thead tr th h3{
    text-align: center;
}

#btnGenera{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    font-weight: bold;
    background-color: #2c2e31;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 16pt;
    color: white;
}

#divImg{
    border-radius: 50%;
    border: 1px solid grey;
    width: 145px;
    height: 140px;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
}

#img{
    border-radius: 50%;
    border: 0;
    margin-top: 5px;
    width: 135px;
    height: 130px;
}

#divInfo{
    margin-top: 30px;
    margin-bottom: 10px;
}

#liGeneralita, #liEmail, #liCompleanno, #liIndirizzo, #liTelefono, #liPassword{
    font-size: 38px;
    font-weight: 100;
}

#selRandomUser{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    width: 730px;
    height: 420px;
    background-color: white;
    margin: -180px auto;
    overflow: hidden;
    border-radius: 5px;
}

#divGenere{
    margin: 0 auto;
    margin-top: 10px;
}

#divNazione{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#divNazione tr th p{
    text-align: center;
}

#divNazione tr td{
    padding: 5px;
}

#lblFrase {
    height: 21px;
    margin-top: 25px;
    color: #999;
    font-size: 18px;
}

#lblInfo {
    margin: 5px;
    height: 43px;
    font-size: 38px;
    color: #2c2e31;
}

#ulProfilo{
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: 100px;
    position: relative;
    list-style-type: none;
}

#ulProfilo li{
    display: inline-block;
    margin: 20px;
    width: 40px;
    height: 48px;
    background-image: url("card_icons.png");
    transition: all .25s ease-out;
    background-size: 378px;
	background-position-y: -48px; 
}
#liGeneralita{
    background-position-x: 0;
}

#liEmail{
    background-position-x: -68px;
}

#liCompleanno{
    background-position-x: -135px;
}

#liIndirizzo{
    background-position-x: -203px;
}

#liTelefono{
    background-position-x: -270px;
}

#liPassword{
    background-position-x: -338px;
}

#frecciaSinistra{
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    position: relative;
    bottom: 50px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    border-right: 25px solid #000;
}

#frecciaDestra{
    float: right;
    margin-right: 0px;
    margin-top: 20px;
    position: relative;
    bottom: 50px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    border-left: 25px solid #000;
}